<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	 <parameter name="rollNo" value="23"/>
	<parameter name="name" value="Madhuri"/>  
	
	
  <test thread-count="5" name="Test1">
	 <parameter name="browser-name" value="Chrome"/>
	
	  <classes>
		  <class name="com.testingshashtra.regression.SearchComponentsTests"/>
		 <class name="com.testingshashtra.regression.ATest"/>
		 <class name="com.testingshashtra.regression.BTest"/>
	  </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
 